<a href="https://colab.research.google.com/github/YOUSUBEEN/yousube_en/blob/main/Daily%20study/20230413_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html

## 사용자 정의 함수
- docstring : https://wikidocs.net/16050 
- 모든 작업 문서화 중요!!!

In [8]:
def hello():
  """이 함수는 'hello'를 출력한다"""
  print('hello')

In [9]:
help(hello)

Help on function hello in module __main__:

hello()
    이 함수는 'hello'를 출력한다

In [11]:
def hello(name):
  print("안녕",name)

In [12]:
hello("Lee")

안녕 Lee

In [13]:
hello(123)

안녕 123

In [15]:
def hello(name : str) -> None:
  if not isinstance(name, str):
    raise TypeError("Name Must be a string!")
  print(f"안녕,{name}")

In [16]:
hello("Lee")

안녕,Lee

In [18]:
hello(123)  # 오류 확인

TypeError: ignored

In [19]:
def add(a, b, c):
  return a + b + c

print(add(1,2,3))

6

In [21]:
print(add(1,2,0))

3

In [23]:
def add(*args):
  print(args, type(args))

add(1, 2, 3 , 4,5)

(1, 2, 3, 4, 5) <class 'tuple'>

In [28]:
def add(*args):
  addition = 0
  for number in args:
    addition += number
  return addition 

print(add(1,2))
print(add(1,2,3))
print(add(1,2,3,4))

3
6
10

### 머신러닝 클래스, 하이퍼파라미터 튜닝 시, 입력값이 딕셔너라를 기본값으로 받음

In [29]:
#머신러닝 클래스, 하이퍼파라미터 튜닝 시, 입력값이 딕셔너라를 기본값으로 받음

def temp(**kwargs):
  for key, value in kwargs.items():
    print(key, value)

temp(name = "SU", age = 30, city = "SUWON")

name SU
age 30
city SUWON

##라이브러리 불러오기
Pandas공식홈 : https://pandas.pydata.org/

In [2]:
import pandas as pd
print(pd.__version__)  # 버전확인!!!!!!

1.5.3

## 구글 드라이브 연동

In [58]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [70]:
DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/연세IT/data/'
DATA_PATH

'/content/drive/MyDrive/Colab Notebooks/연세IT/data/'

In [71]:
juice = pd.read_csv(DATA_PATH + 'Lemonade2016.csv', encoding='CP949')
juice.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [72]:
juice.tail()

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

In [73]:
type(juice)

pandas.core.frame.DataFrame

## juice.info()

https://pandas.pydata.org/docs/reference/frame.html

In [74]:
juice.info()

# 맨 위 데이터에는 32인데, 밑 리스트에 31인것도 있음 -> 결측치 존재

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

## describe()

- 기술통계량 확인가능
- Descriptive Statistics

In [75]:
juice.describe()

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354688
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

## 빈도분석 하기 좋음

- value_counts() :

In [76]:
juice['Location'].value_counts()

Beach    17
Park     15
Name: Location, dtype: int64

In [77]:
juice['Price'].value_counts()

0.25    15
0.50    11
0.35     6
Name: Price, dtype: int64

## 컬럼 추가하는 방법

In [78]:
juice['Sold'] = juice['Lemon']+ juice['Orange']
juice.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277

In [79]:
# 매출액 구하기

juice['Sales'] = juice['Price'] * juice['Sold']
juice.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  Sales
0  7/1/2016     Park     97      67           70      90.0   0.25   164  41.00
1  7/2/2016     Park     98      67           72      90.0   0.25   165  41.25
2  7/3/2016     Park    110      77           71     104.0   0.25   187  46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25   233  58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25   277  69.25

## 컬럼 삭제 하는 방법

In [82]:
# 원본 데이터 복사하는 방법
df = juice.copy()

######### 2차원인경우 ########
##### 1-열 : 컬럼 새로방향
##### 0-행 : 컬럼 가로방향

## 하나씩 없애는 방법
# df = df.drop('Sold', axis = 1)
# df = df.drop('sales', axis = 1)

## 한번에 여러개 없애는 방법
cols = ['Sold','Sales']
df = df.drop(cols, axis = 1)

#행 지우는 방법
df = df.drop([0,1,2,3], axis = 0)

df.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
4  7/5/2016    Beach    159     118           78     135.0   0.25
5  7/6/2016    Beach    103      69           82      90.0   0.25
6  7/6/2016    Beach    103      69           82      90.0   0.25
7  7/7/2016    Beach    143     101           81     135.0   0.25
8       NaN    Beach    123      86           82     113.0   0.25

## 행추출

In [83]:
juice.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  Sales
0  7/1/2016     Park     97      67           70      90.0   0.25   164  41.00
1  7/2/2016     Park     98      67           72      90.0   0.25   165  41.25
2  7/3/2016     Park    110      77           71     104.0   0.25   187  46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25   233  58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25   277  69.25

In [85]:
#Location에서 Beach만 추출
result = juice[juice['Location'] == 'Beach']
result.head(1)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  Sales
3  7/4/2016    Beach    134      99           76      98.0   0.25   233  58.25

## iloc / loc 차이

- iloc(행, 열) 모르겠다면 (원하는 조건식을 사용하지 못함)
- loc 만 잘 기억하자!!!!!!

In [94]:
juice.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  Sales
0  7/1/2016     Park     97      67           70      90.0   0.25   164  41.00
1  7/2/2016     Park     98      67           72      90.0   0.25   165  41.25
2  7/3/2016     Park    110      77           71     104.0   0.25   187  46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25   233  58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25   277  69.25

In [95]:
juice.iloc[0:3, 0:2]

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [97]:
juice.loc[0:2, ['Date', 'Location']]

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [99]:
# iloc는 원하는 조건식을 사용하지 못함

juice.loc[juice['Temperature'] >=83, ['Date', 'Location','Temperature']]

         Date Location  Temperature
11  7/11/2016    Beach           83
12  7/12/2016    Beach           84
25  7/25/2016     Park           84
26  7/26/2016     Park           83

In [104]:
juice.loc[juice['Temperature'] >=83, : ]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Sales
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75

In [105]:
juice.loc[ : , ['Date', 'Location','Temperature']]

         Date Location  Temperature
0    7/1/2016     Park           70
1    7/2/2016     Park           72
2    7/3/2016     Park           71
3    7/4/2016    Beach           76
4    7/5/2016    Beach           78
5    7/6/2016    Beach           82
6    7/6/2016    Beach           82
7    7/7/2016    Beach           81
8         NaN    Beach           82
9    7/9/2016    Beach           80
10  7/10/2016    Beach           82
11  7/11/2016    Beach           83
12  7/12/2016    Beach           84
13  7/13/2016    Beach           77
14  7/14/2016    Beach           78
15  7/15/2016    Beach           75
16  7/16/2016    Beach           74
17  7/17/2016    Beach           77
18  7/18/2016     Park           81
19  7/19/2016     Park           78
20  7/20/2016     Park           70
21  7/21/2016     Park           77
22  7/22/2016     Park           80
23  7/23/2016     Park           81
24  7/24/2016     Park           82
25  7/25/2016     Park           84
26  7/26/2016     Park           83
27  7/27/2016     Park           80
28  7/28/2016     Park           82
29  7/29/2016     Park           81
30  7/30/2016    Beach           82
31  7/31/2016    Beach           82

## 다중조건식
- data.loc[ () & () | (), 열 ]

In [102]:
juice.loc[(juice['Temperature'] >= 82) &
          (juice['Location'] == 'Park') &
          (juice['Date'] == '7/24/2016'),['Date', 'Location']]

         Date Location
24  7/24/2016     Park

In [103]:
juice.loc[(juice['Temperature'] >= 82) &
          (juice['Location'] == 'Park') &
          (juice['Date'] == '7/24/2016'), : ]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Sales
24,7/24/2016,Park,121,82,82,117.0,0.5,203,101.5

## boston 데이터


-데이터불러오기

In [108]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [110]:
import pandas as pd

print('pandas version : ', pd.__version__)

pandas version :  1.5.3

In [113]:
bos = pd.read_csv(DATA_PATH + 'boston.csv', encoding = 'cp949')
bos.head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98,24.0

In [114]:
bos.info()   # 결측치 없음!!!!!!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [117]:
# CRIM, ZN, INDUS 칼럼 추출
cols =['CRIM','ZN', 'INDUS']
result = bos.loc[:, cols]
result

        CRIM    ZN  INDUS
0    0.00632  18.0   2.31
1    0.02731   0.0   7.07
2    0.02729   0.0   7.07
3    0.03237   0.0   2.18
4    0.06905   0.0   2.18
..       ...   ...    ...
501  0.06263   0.0  11.93
502  0.04527   0.0  11.93
503  0.06076   0.0  11.93
504  0.10959   0.0  11.93
505  0.04741   0.0  11.93

[506 rows x 3 columns]

In [121]:
# 행 추출, ZN = 18.0인 값만 조회, 컬럼은 'CRIM','ZN', 'INDUS' 칼럼 추출

cols = ['CRIM','ZN','INDUS']
result = bos.loc[bos['ZN'] == 18.0, cols]
result

      CRIM    ZN  INDUS
0  0.00632  18.0   2.31

In [122]:
cols = ['CRIm','ZN','INDUS']
result = bos.loc[bos['ZN'] == 18.0, cols]
result

#KeyError: "['CRIm'] not in index" 에러확인!!!!!! 컬럼명 확인한다!!

KeyError: ignored

In [143]:
## 다중조건식
cols = ['CRIM','ZN','target']

#CRIM 1보다 작고, target이 24 이상인 값만 조회

result = bos.loc[(bos['CRIM'] < 1) &
                 (bos['target'] >= 24), cols]
print(result)

#CRIM 1보다 작거나, target이 24 이상인 값만 조회

result = bos.loc[(bos['CRIM'] < 1) |
                 (bos['target'] >= 24), cols]
print(result)

        CRIM    ZN  target
0    0.00632  18.0    24.0
2    0.02729   0.0    34.7
3    0.03237   0.0    33.4
4    0.06905   0.0    36.2
5    0.02985   0.0    28.7
..       ...   ...     ...
348  0.01501  80.0    24.5
349  0.02899  40.0    26.6
351  0.07950  60.0    24.1
353  0.01709  90.0    30.1
494  0.27957   0.0    24.5

[138 rows x 3 columns]
        CRIM    ZN  target
0    0.00632  18.0    24.0
1    0.02731   0.0    21.6
2    0.02729   0.0    34.7
3    0.03237   0.0    33.4
4    0.06905   0.0    36.2
..       ...   ...     ...
501  0.06263   0.0    22.4
502  0.04527   0.0    20.6
503  0.06076   0.0    23.9
504  0.10959   0.0    22.0
505  0.04741   0.0    11.9

[351 rows x 3 columns]

### rename 컬럼의 이름값 변경 --> 딕셔너리

In [139]:
# rename 컬럼의 이름값 변경 --> 딕셔너리
# ZN --> landZone
tempDict = {
    'ZN' : 'landZone',
    'CRIM' :'A',
    'CHAS' : 'BA',
    'TAX' : 'C'
}
result = bos.rename(columns=tempDict)
result.head(1)

,A,landZone,INDUS,BA,NOX,RM,AGE,DIS,RAD,C,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98,24.0

In [ ]:
{'ZN': 'landZone'}

In [140]:
# value_counts()
bos['RAD'].value_counts()   # counts 빈도수보여줌

24.0    132
5.0     115
4.0     110
3.0      38
6.0      26
2.0      24
8.0      24
1.0      20
7.0      17
Name: RAD, dtype: int64

In [141]:
# normalize(정규화) = True로 하면 열의 전체 값 중에서 빈도수 비중이 얼마나 차지하는지 퍼센트로 보여줌

import numpy as np
result = np.round(bos['RAD'].value_counts(normalize = True), 2)
result

24.0    0.26
5.0     0.23
4.0     0.22
3.0     0.08
6.0     0.05
2.0     0.05
8.0     0.05
1.0     0.04
7.0     0.03
Name: RAD, dtype: float64

##시계열 데이터 다루기

In [146]:
date_string = '2023-04-13 15:52'
datetime_obj = pd.to_datetime(date_string)
print(datetime_obj)
print(type(datetime_obj))

2023-04-13 15:52:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [147]:
date_list = ['2023-04-12', '2023-04-13']
datetime_obj_list = pd.to_datetime(date_list)
print(datetime_obj_list)
print(type(datetime_obj_list))

DatetimeIndex(['2023-04-12', '2023-04-13'], dtype='datetime64[ns]', freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

#데이터불러오기
- raw_sales.csv 파일 불러오기

In [148]:
import pandas as pd

sales = pd.read_csv(DATA_PATH + 'raw_sales.csv')
sales.head(1)

              datesold  postcode   price propertyType  bedrooms
0  2007-02-07 00:00:00      2607  525000        house         4

In [149]:
sales.info()   # 0 행에 object:문자타입이어서 데이터타입 바꿔줘야함

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29580 entries, 0 to 29579
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datesold      29580 non-null  object
 1   postcode      29580 non-null  int64
 2   price         29580 non-null  int64
 3   propertyType  29580 non-null  object
 4   bedrooms      29580 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.1+ MB

In [153]:
sales['datesold']= pd.to_datetime(sales['datesold'])
sales['year'] = sales['datesold'].dt.year
sales['month'] = sales['datesold'].dt.month
sales['day'] = sales['datesold'].dt.day
sales.head(1)

,datesold,postcode,price,propertyType,bedrooms,datedold,year,month,day
0,2007-02-07,2607,525000,house,4,2007-02-07,2007,2,7

In [154]:
sales.tail(1)

,datesold,postcode,price,propertyType,bedrooms,datedold,year,month,day
29579,2019-07-26,2612,775000,unit,2,2019-07-26,2019,7,26

In [155]:
sales['datesold'].max() - sales['datesold'].min()

Timedelta('4553 days 00:00:00')

## shift()

In [159]:
temp_df = sales[['datesold', 'price']].copy()
temp_df['shifted_v1'] = temp_df['price'].shift(1, fill_value = 0).astype(int)
temp_df['shifted_v2'] = temp_df['price'].shift(2, fill_value = 0).astype(int)

temp_df['차이값']= temp_df['price'] - temp_df['shifted_v1']
temp_df.head()

    datesold   price  shifted_v1  shifted_v2     차이값
0 2007-02-07  525000           0           0  525000
1 2007-02-27  290000      525000           0 -235000
2 2007-03-07  328000      290000      525000   38000
3 2007-03-09  380000      328000      290000   52000
4 2007-03-21  310000      380000      328000  -70000

In [161]:
# 0000년 00월 00일
temp_df['한글날짜'] = temp_df['datesold'].dt.strftime('%Y년 %m월 %d일')
temp_df.head()

    datesold   price  shifted_v1  shifted_v2     차이값           한글날짜
0 2007-02-07  525000           0           0  525000  2007년 02월 07일
1 2007-02-27  290000      525000           0 -235000  2007년 02월 27일
2 2007-03-07  328000      290000      525000   38000  2007년 03월 07일
3 2007-03-09  380000      328000      290000   52000  2007년 03월 09일
4 2007-03-21  310000      380000      328000  -70000  2007년 03월 21일

In [162]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29580 entries, 0 to 29579
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datesold    29580 non-null  datetime64[ns]
 1   price       29580 non-null  int64
 2   shifted_v1  29580 non-null  int64
 3   shifted_v2  29580 non-null  int64
 4   차이값         29580 non-null  int64
 5   한글날짜        29580 non-null  object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.4+ MB